@page
@using Microsoft.Extensions.Localization
@using Acr.Qualifications.Localization
@using Acr.Qualifications.Web.Pages.Qualifications
@model Acr.Qualifications.Web.Pages.Qualifications.IndexModel
@inject IStringLocalizer<QualificationsResource> L

@{
}
<h1>Qualifications</h1>
<p>@L["SamplePageMessage"]</p>
